.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 34px;
  line-height: 45px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
}

a {
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  color: #25ac6a;
  text-decoration: underline;
}

a:hover {
  color: #000;
}

img {
  display: inline-block;
  max-width: 100%;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  color: #666;
  font-size: 20px;
  line-height: 22px;
  font-style: italic;
  font-weight: 300;
}

figure {
  max-width: 70%;
  margin-bottom: 10px;
}

.hero-section {
  position: relative;
  padding-top: 130px;
  padding-bottom: 145px;
  background-image: url('../images/design-desk.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero-section.about-page {
  position: relative;
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/pexels-krivec-ales-552785.jpg');
  background-position: 50% 20%;
}

.hero-section.blog-hero {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/laptop-desk.jpg');
  background-position: 50% 50%;
}

.hero-section.portfolio-hero {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/design-desk.jpg');
}

.hero-section.blog-post-hero {
  padding-bottom: 150px;
}

.hero-section.home-page-hero {
  background-image: url('../images/pexels-negative-space-34577.jpg');
  background-size: cover;
}

.nav {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: transparent;
}

.logo-text {
  margin-top: 11px;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
}

.logo-text.footer-logo {
  margin-top: 3px;
}

.nav-link {
  opacity: 0.6;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  opacity: 1;
  color: #fff;
}

.nav-link.w--current {
  opacity: 1;
  color: #fff;
}

.nav-link.contact {
  margin-top: 9px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0.3);
  opacity: 0.8;
  font-size: 12px;
  line-height: 18px;
}

.nav-link.footer-link {
  margin-top: 0px;
  padding: 10px;
  float: right;
  text-decoration: none;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  clear: both;
  background-color: rgba(255, 236, 231, 0.6);
  background-image: none;
  background-size: auto;
  box-shadow: 1px 1px 3px 0 #000;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.section.top-section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.gray-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ececec;
}

.section.section-2 {
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  box-shadow: none;
}

.hero-container {
  position: relative;
  top: -70px;
  padding: 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
}

.hero-container.project-container {
  padding: 10px;
}

._60block {
  width: 60%;
  height: 300px;
  padding: 5px;
  float: left;
}

.hero-tile {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tile-image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: url('../images/about-image.jpg');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.tile-image:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.tile-image.hire {
  background-image: url('../images/hand-shake.png');
}

.tile-text {
  position: absolute;
  left: 25px;
  bottom: 24px;
  z-index: 20;
  color: #fff;
  font-size: 27px;
  line-height: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.37);
}

._40block {
  position: relative;
  width: 40%;
  height: 300px;
  padding: 5px;
  float: left;
}

._33block {
  width: 33.33%;
  height: 300px;
  padding: 5px;
  float: left;
}

.social-block {
  width: 50%;
  height: 145px;
  float: left;
  background-color: #55acee;
  background-image: url('../images/twitter.svg');
  background-position: 50% 50%;
  background-size: 50px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}

.social-block:hover {
  background-color: #3d90cf;
}

.social-block.facebook {
  background-color: #3765a3;
  background-image: url('../images/facebook.svg');
  background-size: 50px;
}

.social-block.facebook:hover {
  background-color: #23528f;
}

.social-block.pinterest {
  background-color: #c92228;
  background-image: url('../images/pinterest.svg');
  background-size: 50px;
}

.social-block.pinterest:hover {
  background-color: #aa1217;
}

.social-block.dribbble {
  display: inline-block;
  background-color: #e04c86;
  background-image: url('../images/dribbble.svg');
  background-size: 50px;
}

.social-block.dribbble:hover {
  background-color: #c02c67;
}

.footer-section {
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #2a2a2a;
}

.tile-link {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.contact-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  text-align: center;
}

.close-link {
  display: block;
  margin-bottom: 20px;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.close-link:hover {
  opacity: 1;
  color: #fff;
}

.text-field {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.1);
  font-size: 16px;
}

.text-field:focus {
  border-color: hsla(0, 0%, 100%, 0.3);
  color: #fff;
}

.text-field.text-area {
  height: 120px;
}

.form-wrapper {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.submit-button {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 3px;
  background-color: #55acee;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-size: 17px;
}

.submit-button:hover {
  background-color: #3765a3;
}

.contact-heading {
  color: #fff;
  font-size: 30px;
  line-height: 32px;
}

.small-divider {
  display: block;
  width: 80px;
  height: 2px;
  margin: 10px auto;
  background-color: #fff;
  opacity: 0.2;
}

.small-divider.dark-divider {
  background-color: #000;
}

.contact-text {
  margin-bottom: 20px;
  opacity: 0.7;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

.success-message {
  background-color: #2bab68;
}

.success-text {
  margin-bottom: 0px;
  color: #fff;
}

.hero-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.82;
}

.cta-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #3bc984;
  text-align: center;
}

.cta-heading {
  margin-bottom: 18px;
  color: #fff;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
}

.button {
  padding: 15px 40px;
  background-color: #19975a;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-size: 14px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #088347;
  color: #fff;
}

.project-image {
  height: 250px;
  border-radius: 3px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: -webkit-transform 700ms ease;
  transition: -webkit-transform 700ms ease;
  transition: transform 700ms ease;
  transition: transform 700ms ease, -webkit-transform 700ms ease;
}

.project-image:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.project-block {
  padding: 8px;
}

.project-title {
  position: absolute;
  left: 25px;
  bottom: 25px;
  color: #fff;
  font-size: 22px;
  line-height: 24px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.project-tag {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 9px 10px 8px;
  border-radius: 3px;
  opacity: 1;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.project-link {
  display: block;
  overflow: hidden;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  color: #333;
  text-decoration: none;
}

.project-link:hover {
  color: #55acee;
}

.project-link.blog-link {
  height: 340px;
}

.project-link.blog-link:hover {
  color: #333;
}

.alternate-image {
  height: 360px;
  margin-bottom: 15px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-text {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.center {
  text-align: center;
}

.blog-block {
  position: relative;
  padding: 10px;
}

.blog-image {
  position: relative;
  height: 100%;
  margin-bottom: 10px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.blog-title {
  margin-bottom: 5px;
  padding-right: 5px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.blog-description {
  margin-bottom: 10px;
  color: #666;
}

.blog-date {
  position: absolute;
  left: 10px;
  top: 13px;
  z-index: 10;
  color: #fff;
}

.blog-author {
  display: inline-block;
  margin-right: 3px;
  color: #888;
  font-style: italic;
}

.blog-category {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 7px 8px;
  border-radius: 3px;
  opacity: 1;
  color: #fff;
  line-height: 14px;
}

.blog-post-wrapper {
  padding-top: 30px;
}

.blog-details {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
}

.hero-text-wrapper {
  position: relative;
  z-index: 10;
  text-align: center;
}

.author-wrapper {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  text-align: center;
}

.author-image {
  width: 150px;
  margin-bottom: 5px;
  border-radius: 200px;
}

.author-name {
  color: #444;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.author-bio {
  color: #666;
  font-size: 17px;
  line-height: 23px;
}

.home-page-heading {
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 0px;
  text-transform: none;
}

.tile-overlay {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.blog-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 180px;
  margin-bottom: 10px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

._70block {
  width: 70%;
  height: 300px;
  padding: 5px;
  float: left;
}

._30block {
  position: relative;
  width: 30%;
  height: 300px;
  padding: 5px;
  float: left;
}

.tile-services-image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: url('../images/services.jpg');
  background-size: cover;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.tile-services-image:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.tile-services-image.hire {
  background-image: url('../images/camera-front.jpg');
}

.tile-about-image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: url('../images/me.jpg');
  background-position: 50% 0%;
  background-size: cover;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.tile-about-image:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.tile-about-image.hire {
  background-image: url('../images/camera-front.jpg');
}

.tile-projects-image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: url('../images/projects.jpg');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.tile-projects-image:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.tile-projects-image.hire {
  background-image: url('../images/hand-shake.png');
}

.about-hero {
  position: relative;
  padding-top: 130px;
  padding-bottom: 145px;
  background-image: url('../images/design-desk.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.about-hero.about-page {
  position: relative;
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/pexels-krivec-ales-552785.jpg');
  background-position: 50% 20%;
}

.about-hero.blog-hero {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/laptop-desk.jpg');
  background-position: 50% 50%;
}

.about-hero.portfolio-hero {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/design-desk.jpg');
}

.about-hero.blog-post-hero {
  padding-bottom: 150px;
}

.about-hero.home-page-hero {
  background-image: url('../images/pexels-negative-space-34577.jpg');
  background-size: cover;
}

.services-hero {
  position: relative;
  padding-top: 130px;
  padding-bottom: 145px;
  background-image: url('../images/design-desk.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.services-hero.about-page {
  position: relative;
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/pexels-negative-space-34577.jpg');
  background-position: 50% 45%;
}

.services-hero.blog-hero {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/laptop-desk.jpg');
  background-position: 50% 50%;
}

.services-hero.portfolio-hero {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/design-desk.jpg');
}

.services-hero.blog-post-hero {
  padding-bottom: 150px;
}

.services-hero.home-page-hero {
  background-image: url('../images/pexels-negative-space-34577.jpg');
  background-size: cover;
}

.grid {
  grid-column-gap: 50px;
  grid-row-gap: 25px;
}

.service {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  background-image: url('../images/1156660_ecommerce_logo_shopify_icon.png');
  background-position: 50% 50%;
  background-size: 0%;
  box-shadow: 1px 1px 5px 1px #000;
}

.div-block-2 {
  padding-left: 10px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px #000;
}

.div-block-3 {
  padding-left: 10px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px #000;
}

.div-block-4 {
  padding-left: 10px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px #000;
}

.gallery-scroll {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.gallery-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.gallery-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.gallery-link {
  margin-bottom: 35px;
  color: #1a1b1f;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
}

.gallery-link:hover {
  color: rgba(26, 27, 31, 0.8);
}

.gallery-link.w--current {
  font-weight: 600;
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.gallery-image-wrapper {
  position: relative;
}

.gallery-image {
  width: 100%;
}

.gallery-image-text {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 200px;
  margin-bottom: 0px;
  color: #f5f7fa;
}

.port-proj-cont {
  max-width: 33%;
}

.port-proj-cont.proj1 {
  max-height: none;
  max-width: none;
  background-image: url('../images/rbc.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.paragraph {
  color: #676767;
}

.paragraph-2 {
  color: #676767;
}

.paragraph-3 {
  color: #676767;
}

.paragraph-4 {
  color: #676767;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-2 {
  overflow: visible;
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

.project-1 {
  width: 100%;
  height: 100%;
  max-height: none;
  max-width: none;
  border-radius: 20px;
  background-image: url('../images/rbc.png');
  background-position: 50% 50%;
  background-size: cover;
}

.project-2 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: url('../images/gb.png');
  background-position: 50% 50%;
  background-size: cover;
}

.portfolio-project {
  width: 450px;
  height: 210px;
  border-radius: 20px;
  -webkit-perspective: none;
  perspective: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.project-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #000;
  opacity: 0.3;
  -webkit-transition-property: none;
  transition-property: none;
  text-shadow: 2px 2px 7px #000;
}

.project-overlay:hover {
  opacity: 0;
}

.link-block {
  width: 100%;
  height: 100%;
}

.link-block-2 {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  mix-blend-mode: darken;
}

.link-block-2:hover {
  opacity: 1;
  mix-blend-mode: normal;
}

.about-content {
  width: 100%;
  height: 100%;
}

.about-content img {
  max-width: 100%;
  float: right;
  clear: right;
}

.about-content figure {
  position: static;
  width: 250px;
  max-width: none;
  clear: none;
}

.project-tile-text {
  position: relative;
  bottom: 275px;
  direction: ltr;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  text-transform: none;
  text-shadow: 3px 0 7px #000;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
    line-height: 38px;
  }

  .hero-section {
    padding-top: 88px;
  }

  .hero-section.home-page-hero {
    padding-top: 110px;
    padding-right: 114px;
    padding-left: 114px;
  }

  .nav {
    padding-top: 10px;
  }

  .nav-link.contact {
    margin-bottom: 11px;
    background-color: hsla(0, 0%, 100%, 0);
  }

  .nav-link.footer-link {
    margin-top: 9px;
  }

  .section.top-section {
    padding-bottom: 0px;
  }

  .tile-text {
    left: 22px;
    bottom: 22px;
    font-size: 30px;
    line-height: 33px;
  }

  .menu-button {
    color: #fff;
  }

  .menu-button.w--open {
    background-color: #55acee;
  }

  .nav-menu {
    background-color: #242424;
  }

  .contact-overlay {
    display: none;
    opacity: 0;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .form-wrapper {
    width: 70%;
  }

  .project-text {
    width: 90%;
  }

  .blog-block {
    padding: 4px;
  }

  .blog-image-wrapper {
    height: 170px;
    margin-bottom: 10px;
  }

  .about-hero {
    padding-top: 88px;
  }

  .about-hero.home-page-hero {
    padding-top: 110px;
    padding-right: 114px;
    padding-left: 114px;
  }

  .services-hero {
    padding-top: 88px;
  }

  .services-hero.home-page-hero {
    padding-top: 110px;
    padding-right: 114px;
    padding-left: 114px;
  }

  .container {
    max-width: 728px;
  }

  .gallery-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .gallery-sticky {
    position: relative;
    top: 0px;
  }

  .section-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 41px;
  }

  .hero-section {
    padding-bottom: 25px;
  }

  .hero-section.blog-post-hero {
    padding-bottom: 70px;
  }

  .hero-section.home-page-hero {
    padding-right: 46px;
    padding-bottom: 60px;
    padding-left: 46px;
  }

  .logo-text {
    margin-bottom: 19px;
  }

  .nav-link.contact {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 20px;
  }

  .nav-link.footer-link {
    float: none;
  }

  .nav-link.footer-link.contact {
    float: none;
  }

  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section.top-section.home-page {
    padding-right: 5px;
    padding-left: 5px;
  }

  .section.section-2 {
    min-height: 800px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .hero-container {
    top: auto;
    padding: 5px 0px;
  }

  .tile-text {
    left: 17px;
    bottom: 14px;
    font-size: 23px;
    line-height: 29px;
  }

  .social-block {
    background-size: 40px;
  }

  .social-block.facebook {
    background-size: 40px;
  }

  .social-block.pinterest {
    background-size: 40px;
  }

  .social-block.dribbble {
    background-size: 40px;
  }

  .logo-footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }

  .footer-link-col {
    text-align: center;
  }

  .form-wrapper {
    width: 80%;
  }

  .project-title {
    font-size: 25px;
    line-height: 28px;
  }

  .project-link.blog-link {
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 15px;
  }

  .project-text {
    width: 100%;
  }

  .blog-post-wrapper {
    padding-top: 0px;
  }

  .author-wrapper {
    width: 90%;
    margin-bottom: 39px;
  }

  .about-hero {
    padding-bottom: 25px;
  }

  .about-hero.blog-post-hero {
    padding-bottom: 70px;
  }

  .about-hero.home-page-hero {
    padding-right: 46px;
    padding-bottom: 60px;
    padding-left: 46px;
  }

  .services-hero {
    padding-bottom: 25px;
  }

  .services-hero.blog-post-hero {
    padding-bottom: 70px;
  }

  .services-hero.home-page-hero {
    padding-right: 46px;
    padding-bottom: 60px;
    padding-left: 46px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .gallery-scroll {
    padding: 60px 15px;
  }

  .section-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.38);
  }

  .hero-section.blog-hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .hero-section.portfolio-hero {
    padding: 80px 20px 40px;
  }

  .hero-section.blog-post-hero {
    padding-bottom: 60px;
  }

  .hero-section.home-page-hero {
    padding-right: 10px;
    padding-left: 10px;
  }

  .logo-text {
    font-size: 26px;
  }

  .nav-link.footer-link {
    display: block;
    font-size: 13px;
  }

  .nav-link.footer-link.contact {
    padding: 9px;
    font-size: 13px;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.section-2 {
    min-height: 700px;
    padding: 10px;
  }

  ._60block {
    width: 100%;
  }

  .tile-text {
    left: 30px;
    bottom: 30px;
    font-size: 35px;
    line-height: 35px;
  }

  ._40block {
    width: 100%;
  }

  ._33block {
    width: 100%;
  }

  .close-link:hover {
    color: #fff;
  }

  .form-wrapper {
    width: 90%;
  }

  .cta-heading {
    font-size: 28px;
  }

  .project-block {
    padding-right: 0px;
    padding-left: 0px;
  }

  .project-title {
    left: 15px;
    bottom: 25px;
    font-size: 20px;
    line-height: 25px;
  }

  .project-tag {
    right: 18px;
  }

  .project-link.blog-link {
    margin-bottom: 15px;
  }

  .blog-block {
    padding-right: 0px;
    padding-left: 0px;
  }

  .blog-details {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
  }

  .author-wrapper {
    width: 100%;
  }

  .home-page-heading {
    font-size: 45px;
    line-height: 50px;
  }

  ._70block {
    width: 100%;
  }

  ._30block {
    width: 100%;
  }

  .about-hero.about-page {
    background-image: url('../images/me.jpg');
    background-position: 50% 20%;
  }

  .about-hero.blog-hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .about-hero.portfolio-hero {
    padding: 80px 20px 40px;
  }

  .about-hero.blog-post-hero {
    padding-bottom: 60px;
  }

  .about-hero.home-page-hero {
    padding-right: 10px;
    padding-left: 10px;
  }

  .services-hero.blog-hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .services-hero.portfolio-hero {
    padding: 80px 20px 40px;
  }

  .services-hero.blog-post-hero {
    padding-bottom: 60px;
  }

  .services-hero.home-page-hero {
    padding-right: 10px;
    padding-left: 10px;
  }

  .container {
    max-width: none;
  }

  .gallery-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-content figure {
    width: 1px;
  }
}

#w-node-_2917724e-8ffd-bb12-a8a3-c0118f6e06b4-1931df0c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5381f455-9f24-5778-06da-c22f388d262d-1931df0c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9d063c96-3fd4-9def-e021-69930730b505-1931df0c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_79cf6c8e-a265-ea4b-7357-f62e8ff75c1c-1931df0c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

